<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World!</h1>
    <h2>Welcome to Notes App</h2>
    <br>
    <div>
        <form action="/register">
            <button>Register</button>
        </form>
    </div>
    <div>
        <form action="/login">
            <button>Login</button>
        </form>
    </div>
</body>
</html>