<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Notes Page</h1>
    <div>
        <form action="/notes/show">
            <button>All Notes</button>
        </form>
    </div>
    <div>
        <form action="/notes/create">
            <button>Create Notes</button>
        </form>
    </div>
</body>
</html>