<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Showing all notes</h1>
    <ul>
        <% for (let i of iter) { %>
            <li>
                <a href="/notes/show/<%= i._id %>"><%= i.content %></a> 
            </li>
            <% } %>
    </ul>
</body>

</html>