<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= note.content %></h1>
    <div>
        <form action="/notes/<%= note._id %>/edit" method="GET">
            <button>Update</button>
        </form>
    </div>
    <div>
        <form action="/notes/<%= note._id %>/delete?_method=DELETE" method="POST">
            <button>Detete</button>
        </form>
    </div>
</body>
</html>